workflows/Content Idea Generation Workflow v2.json
{
  "name": "Content Idea Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "352b856a-f245-4f21-a8ea-1ac41be925e0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        -112
      ],
      "id": "8971edd2-d90f-4409-92e3-241d88f90873",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "resource": "video",
        "filters": {
          "publishedAfter": "={{ $now.minus({days: 1}).toISO() }}",
          "q": "Latest software, AI, technology news",
          "regionCode": "US",
          "videoType": "any"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        224,
        112
      ],
      "id": "66c72757-8f85-4157-a313-693e4b0ffb26",
      "name": "Get many videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "Zz23VruVtXq1oSKy",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        0
      ],
      "id": "371a0a8a-fdbe-484b-a414-b08b1a42138b",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "425872dc-60cf-4a08-8a25-6b9795563a48",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.values() }}",
        "options": {
          "systemMessage": "Using the latest news and information, create an interesting post to post on Facebook. You can choose one of the contents or write as a summary or recap of all the contents. Write in Burmese language."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        0
      ],
      "id": "81826494-dbf1-4bbe-981d-ada7f03bc32b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        800,
        208
      ],
      "id": "58189ec0-2274-4573-adbe-0c539f906765",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "7KvpiDYKgtt8wkHf",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6d403247-c17a-4bad-81e1-5f437478c9f8",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        0
      ],
      "id": "dd78b8a6-d8ff-4817-98a7-d82ccddf42be",
      "name": "If"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "1149057734959801",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1696,
        -96
      ],
      "id": "f52998dc-273e-4a65-aa8a-df6cd65d5a92",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "uyBXBl2jijyZmQeA",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1696,
        96
      ],
      "id": "8ecaaa20-c759-400a-9018-393957967fee",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "1556520064",
        "message": "={{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        0
      ],
      "id": "e2ae07b9-811e-4699-bdb3-ec3ca248570d",
      "name": "Send message and wait for response",
      "webhookId": "4d05e5d3-0738-461d-8113-856205881dd2",
      "credentials": {
        "telegramApi": {
          "id": "kXg9z6PyyFuIXan2",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ce97f55c-bc8b-4280-88c5-45f17bd5dfbb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67806d696706b108afab5b4d3c2e4b0df34958d611ee55d9212f53c9d2d48b25"
  },
  "id": "bBqQvTEgI7FrW65E",
  "tags": []
}