workflows/Invoice Workflow.json
{
  "name": "Invoice Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "14ca2e1d-0b2e-4804-a957-b5792592ecf0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Na5SbaOMyeRHHuGIP3ju4g831Zau5EV3yPR5BeoJVYw",
          "mode": "list",
          "cachedResultName": "invoice-list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Na5SbaOMyeRHHuGIP3ju4g831Zau5EV3yPR5BeoJVYw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Na5SbaOMyeRHHuGIP3ju4g831Zau5EV3yPR5BeoJVYw/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "a7da88e1-1116-42ad-8b85-e685a7e4185d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4LoV8magAF3tRmR1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "37e1f1a1-32b9-4b73-b94a-f66407aa94cd",
              "leftValue": "={{ $json[\"Invoice Number\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "acdd0ec1-26ef-44bb-92a0-fa8a6bda1e61",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "New",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "0142289e-66ef-49b1-a2d7-4e0e30d91991",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        176
      ],
      "id": "bdf28a13-1a3d-46cf-961a-d1e26794fde1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "847ded9a-17c3-423e-bbc9-c44c3209653c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 50,
        "queryString": "={{ $json[\"Invoice Number\"] }}.pdf",
        "returnAll": "=",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1i8ofiS_l-GHEIP_mjq2aw6h_bEAZvKbT",
            "mode": "list",
            "cachedResultName": "invoice",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1i8ofiS_l-GHEIP_mjq2aw6h_bEAZvKbT"
          }
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        192
      ],
      "id": "e3222f19-e6f1-4b39-a231-5a88bd6ae898",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Xdsmg67qOxkOP65E",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "invoicePdf",
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        192
      ],
      "id": "8d4903e5-9d3c-4e29-a586-677c8f4dcbcd",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Xdsmg67qOxkOP65E",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json.Email }}",
        "subject": "=[{{ $('Loop Over Items').item.json['Invoice Number'] }}] Invoice from Saanay",
        "emailType": "text",
        "message": "=Dear {{ $('Loop Over Items').item.json['Customer Name'] }}, \n\nThank you very much for your purchase. \n\nPlease see attached for your invoice.\n\nThanks,\nSanny Team",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "invoicePdf"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        192
      ],
      "id": "4b32db4b-7aa9-4d93-a41a-8e80aa5ad7e0",
      "name": "Send a message",
      "webhookId": "bb59c5a8-1d05-408a-ae16-03e5e7492474",
      "credentials": {
        "gmailOAuth2": {
          "id": "hOqlFbcNvD5YNlm5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Na5SbaOMyeRHHuGIP3ju4g831Zau5EV3yPR5BeoJVYw",
          "mode": "list",
          "cachedResultName": "invoice-list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Na5SbaOMyeRHHuGIP3ju4g831Zau5EV3yPR5BeoJVYw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Na5SbaOMyeRHHuGIP3ju4g831Zau5EV3yPR5BeoJVYw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $('Loop Over Items').item.json['Invoice Number'] }}",
            "Sent At": "={{ $now.toISO() }}",
            "Status": "Sent"
          },
          "matchingColumns": [
            "Invoice Number"
          ],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sent At",
              "displayName": "Sent At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Paid Status",
              "displayName": "Paid Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reminder Count",
              "displayName": "Reminder Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Reminder At",
              "displayName": "Last Reminder At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        192
      ],
      "id": "13903f3d-88a2-4e59-a45d-7b5f7b56a177",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4LoV8magAF3tRmR1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        352
      ],
      "id": "72c337bc-95c4-461d-862b-2cc5732c2e2f",
      "name": "Wait",
      "webhookId": "521415ee-a10b-44d3-a453-88a5a9870c3f"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6b6aa74c-9d91-4172-8147-df45fb70c2b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67806d696706b108afab5b4d3c2e4b0df34958d611ee55d9212f53c9d2d48b25"
  },
  "id": "u4U6t33tfuG3Ioge",
  "tags": []
}