workflows/Weather Chat.json
{
  "name": "Weather Chat",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "5b49781b-af87-42a8-9c1b-c36947a44cd4",
      "name": "When chat message received",
      "webhookId": "070abf22-0261-4a0e-a16e-22cbcd2122bf"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chatInput",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        -176
      ],
      "id": "a2973400-32e1-4d29-b04d-c6ffa3899356",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://geocoding-api.open-meteo.com/v1/search?name={{ $json.chatInput }}&count=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "68f5408c-4faa-4616-9a88-7d6bd231dff7",
      "name": "Get Location Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be221506-2e95-411f-a2dc-098663ed9ecc",
              "name": "lat",
              "value": "={{ $json.results[0].latitude }}",
              "type": "number"
            },
            {
              "id": "403a92dd-e43e-4153-ad2f-6a93f7d0815b",
              "name": "lon",
              "value": "={{ $json.results[0].longitude }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "994a5e6d-5569-4e81-bdf9-15c3c6a52fe7",
      "name": "Extract Lat-Lon"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?\nlatitude={{ $json.lat }}&longitude={{ $json.lon }}&current=temperature_2m,relative_humidity_2m,weather_code",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "8a4a3f1d-514d-4037-a263-876416668163",
      "name": "Get Weather Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        -176
      ],
      "id": "2d6dcf75-dcb4-49e9-8c44-5a1b393f36fb",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        -80
      ],
      "id": "ffefb59b-5abf-48a6-8617-76332f9c76cb",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7c86da49-4ced-4044-80cd-226b862fc544",
              "leftValue": "={{ $json.current.temperature_2m }}",
              "rightValue": 32,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        -80
      ],
      "id": "6df89235-cf1a-463e-97ff-14455c2d5082",
      "name": "LT 32"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55e9acb5-3578-4ca9-896d-cb3b6c9219c4",
              "leftValue": "={{ $json.current.temperature_2m }}",
              "rightValue": 22,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1296,
        -176
      ],
      "id": "5ebd578a-3456-4359-8a05-69f14d826b71",
      "name": "LT 22"
    },
    {
      "parameters": {
        "message": "=Too hot in  {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1296,
        128
      ],
      "id": "9e866631-0067-4a85-9526-8dad3b55e6ec",
      "name": "Chat",
      "webhookId": "0207d3e4-76a7-4ad2-814a-4e8c9abac673"
    },
    {
      "parameters": {
        "message": "=Chilly in  {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1504,
        -272
      ],
      "id": "d5ef488b-df66-449e-aca9-a49b500efe2d",
      "name": "Chat1",
      "webhookId": "d073b0c5-e245-48eb-ab92-ff60d53f98ef"
    },
    {
      "parameters": {
        "message": "=Nice weather in  {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1504,
        -80
      ],
      "id": "b23d33ca-355f-4e67-95b8-b4b1cc7e90fd",
      "name": "Chat2",
      "webhookId": "f7044d65-c2a0-42a3-abf1-0d20cb8d37c0"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get Location Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Location Data": {
      "main": [
        [
          {
            "node": "Extract Lat-Lon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lat-Lon": {
      "main": [
        [
          {
            "node": "Get Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "LT 32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LT 32": {
      "main": [
        [
          {
            "node": "LT 22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LT 22": {
      "main": [
        [
          {
            "node": "Chat1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7b870789-7cee-40cc-9d23-015d56fc180b",
  "meta": {
    "instanceId": "67806d696706b108afab5b4d3c2e4b0df34958d611ee55d9212f53c9d2d48b25"
  },
  "id": "tZ7WRqLkLTjl0gVF",
  "tags": []
}